@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Lexend:400,700");

// Custom variables
@import "_variables.scss";

// Bulma overrides
$radius-large: 0;

$primary: $wgaDarkBlue;
$body-background-color: $wgaLightestBlue;
$navbar-background-color: $wgaDarkBlue;
$navbar-item-img-max-height: 45px;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $wgaOrangeHighlight;
$navbar-dropdown-background-color: $wgaDarkBlue;
$navbar-dropdown-item-hover-background-color: $wgaOrangeHighlight;
$navbar-divider-background-color: $wgaTorquise;
$navbar-burger-color: $wgaTorquise;
$navbar-dropdown-arrow: $wgaTorquise;
$navbar-height: 2.813rem;
$navbar-item-active-color: $white;
$navbar-item-active-background-color: $wgaOrangeHighlight;

$family-sans-serif: "Lexend", "Arial", sans-serif;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/@creativebulma/bulma-divider/src/sass/index.sass";

#nav-logo {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.has-sticky-header {
  th {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: $tablet) {
  .columns.is-reversed-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}
