package pages

import (
	"github.com/blackfyre/wga/assets/templ/layouts"
	"github.com/blackfyre/wga/assets/templ/utils"
)

type StaticPageDTO struct {
	Title   string
	Content string
}

templ StaticPage(sp StaticPageDTO) {
	@layouts.LayoutMain() {
		<head>
			<title>{ utils.GetTitle(ctx) }</title>
		</head>
		@StaticPageBlock(sp)
	}
}

templ StaticPageBlock(sp StaticPageDTO) {
	<article class="container mx-auto prose">
		<h1>
			{ sp.Title }
		</h1>
		@templ.Raw(sp.Content)
	</article>
}
