package pages

import (
	"fmt"
	"github.com/blackfyre/wga/internal/assets/templ/dto"
	"github.com/blackfyre/wga/internal/assets/templ/layouts"
	"github.com/blackfyre/wga/internal/assets/templ/utils"
)

func ArtworkBibTeX(aw dto.Artwork) string {
	return fmt.Sprintf("@misc{wga_artwork_%s,\n  author = {%s},\n  title = {%s},\n  howpublished = {Web Gallery of Art},\n  url = {%s}\n}", aw.Id, aw.Artist.Name, aw.Title, aw.Url)
}

templ ArtworkPage(aw dto.Artwork) {
	@layouts.LayoutMain() {
		@ArtworkBlock(aw)
	}
}

templ ArtworkBlock(aw dto.Artwork) {
	<head>
		<title>{ utils.GetTitle(ctx) }</title>
	</head>
	<section class="artwork-detail">
		<div class="artwork-detail__stage" data-viewer>
			<figure>
				<img src={ aw.Image.Image } alt={ aw.Title + " by " + aw.Artist.Name }/>
			</figure>
		</div>
		<div class="artwork-detail__layout">
			<aside class="artwork-detail__sidebar">
				<section class="artwork-detail__metadata">
					<h1>Core metadata</h1>
					<dl>
						<div><dt>Title</dt><dd>{ aw.Title }</dd></div>
						if aw.Artist.Name != "" {
							<div><dt>Artist</dt><dd><a href={ templ.SafeURL(aw.Artist.Url) } hx-get={ aw.Artist.Url } hx-target={ aw.HxTarget }>{ aw.Artist.Name }</a></dd></div>
						}
						if aw.Technique != "" {
							<div><dt>Technique</dt><dd>{ aw.Technique }</dd></div>
						}
						if aw.Schools != "" {
							<div><dt>School</dt><dd>{ aw.Schools }</dd></div>
						}
					</dl>
				</section>
				<section class="artwork-detail__citation">
					<h2>Cite this artwork</h2>
					<pre>{ ArtworkBibTeX(aw) }</pre>
				</section>
			</aside>
			<article class="artwork-detail__commentary">
				<p class="artwork-detail__eyebrow">Collection record</p>
				<h2>Scholarly commentary</h2>
				<div class="artwork-detail__prose">
					@templ.Raw(aw.Comment)
				</div>
				<a
					href="#"
					hx-on:click="wga.dialog.open();"
					hx-get={ `/postcard/send?awid=` + aw.Id }
					hx-target="#d"
					class="artwork-detail__postcard"
					hx-swap="innerHTML"
					hx-select=".modal-box, form[method=dialog].modal-backdrop"
				>
					Send postcard
				</a>
			</article>
		</div>
	</section>
	@templ.Raw(aw.Jsonld)
}
