package pages

import (
	"github.com/blackfyre/wga/internal/assets/templ/components"
	"github.com/blackfyre/wga/internal/assets/templ/layouts"
)

templ LicencesPage(content string) {
	@layouts.LayoutMain() {
		<section class="container mx-auto px-4 pb-20 pt-10 md:px-0">
			@components.PageHead("OPEN SOURCE", "Open-source licences", "")
			<div class="content mt-10 max-w-none">@templ.Raw(content)</div>
		</section>
	}
}
