WGA_ENV=development

WGA_ADMIN_EMAIL=
WGA_ADMIN_PASSWORD=

WGA_S3_ENDPOINT=http://127.0.0.1:3900
WGA_S3_BUCKET=wga-assets
WGA_S3_REGION=garage
WGA_S3_ACCESS_KEY=GKlocaluploads
WGA_S3_ACCESS_SECRET=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

WGA_PROTOCOL=http
WGA_HOSTNAME=localhost:8090

WGA_SMTP_HOST=127.0.0.1
WGA_SMTP_PORT=1025
WGA_SMTP_USERNAME=
WGA_SMTP_PASSWORD=
WGA_SENDER_ADDRESS=do-not-reply@wga.hu
WGA_SENDER_NAME=WGA
WGA_POSTCARD_FREQUENCY="*/1 * * * *"
WGA_RECAPTCHA_SITE_KEY=
WGA_RECAPTCHA_SECRET=

MAILPIT_URL=http://127.0.0.1:8025
