resources/sitebuild/node_modules
resources/sitebuild/out/style.css
wga_data
wga_sitemap
analytics.txt
.env

dist/
tmp/

assets/public/css/style.css
*/mjml/*.html

assets/public/js/*.js
assets/public/js/*.map
assets/public/js/*.txt

guestbook.json
contributors.json
