dialog {
    border: none !important;
    border-radius: calc(1rem / 3);
    box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    background-color: $wgaLightestBlue;

    .close-dialog {
        position: absolute;
        right: 1rem;
    }
}
