@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Lexend:400,700");

// Custom variables
@import "_variables.scss";

// Bulma overrides
$radius-large: 0;

$primary: $wgaDarkBlue;
$body-background-color: $wgaLightestBlue;
$navbar-background-color: $wgaDarkBlue;
$navbar-item-img-max-height: 45px;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $wgaOrangeHighlight;
$navbar-dropdown-background-color: $wgaDarkBlue;
$navbar-dropdown-item-hover-background-color: $wgaOrangeHighlight;
$navbar-divider-background-color: $wgaTorquise;
$navbar-burger-color: $wgaTorquise;
$navbar-dropdown-arrow: $wgaTorquise;
$navbar-height: 2.813rem;
$navbar-item-active-color: $white;
$navbar-item-active-background-color: $wgaOrangeHighlight;

$family-sans-serif: "Lexend", "Arial", sans-serif;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/@creativebulma/bulma-divider/src/sass/index.sass";

// Font Awesome
$fa-font-path: "/assets/fonts";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

#nav-logo {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.has-sticky-header {
  th {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
}

.hero.is-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.jump.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  cursor: pointer;
}

.is-art-card {
  figure {
    cursor: pointer;
  }
}

@media (max-width: $tablet) {
  .columns.is-reversed-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}

#dual {
  display: none;
  &.is-active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $wgaLightestBlue;
    z-index: 40;
    overflow: hidden;
  }

  #dual-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow-y: auto;
  }

  #dual-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow-y: auto;
  }

  > .delete {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

body.has-active-backdrop {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

html.is-clipped {
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bottom-level {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  > div {
    margin-right: 1rem;
  }
}

@media (max-width: $widescreen) {
  .bottom-level {
    flex-direction: column;
    align-items: flex-start;

    > div {
      &:first-child {
        margin-bottom: 0rem;
      }

      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

figure.hidden-caption {
  figcaption {
    display: none;
  }
}

.hpt {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.is-feedback {
  position: fixed;
  top: 75%;
  right: 0;
  transform: rotate(-90deg) translate(0, 93%);
}

@import "_dialog.scss";
@import "_trix.scss";
@import "_table.scss";
@import "_buttons.scss";
@import "_layout.scss";
