{{define "partial:footer"}}
<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column has-text-left">
                <p>
                    Please send your comments, sign our guestbook and send a postcard.
                    © Web Gallery of Art, created by Emil Krén and Daniel Marx.
                </p>
            </div>
            <div class="column has-text-right">
                <p>
                    Donations for maintaining and developing the Gallery are welcome.
                </p>
                <ul>
                    <li><a href="https://ko-fi.com/blackfyre" target="_blank">ko-fi.com/blackfyre</a></li>
                    <li><a href="https://github.com/sponsors/blackfyre" target="_blank">Github sponsorship</a></li>
                </ul>
            </div>
            <div class="column has-text-right">
                <p>
                    This is an open source project. You can find the source code on <a
                        href="https://github.com/blackfyre/wga" target="_blank">Github</a>.
                </p>
            </div>

        </div>

    </div>
</footer>
{{end}}