{{define "partial:footer"}}
<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <p>
                    Please send your comments, sign our guestbook and send a postcard.
                    © Web Gallery of Art, created by Emil Krén and Daniel Marx.
                </p>
            </div>
            <div class="column has-text-centered">
                <p>
                    Donations for maintaining and developing the Gallery are welcome.
                </p>
            </div>

        </div>

    </div>
</footer>
{{end}}