{{define "partial:top-nav"}}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" id="nav-logo" href="/" hx-get="/" hx-target="#mc-area">
            <img src="/assets/images/logo.png" loading="lazy" width="318" height="45" alt="Web Gallery of Art"
                title="Go to Home">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="top-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="top-navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/" hx-get="/" hx-target="#mc-area">
                Home
            </a>

            <a class="navbar-item" href="/artists" hx-get="/artists" hx-target="#mc-area">
                Artists
            </a>

            <a class="navbar-item" href="/artworks">
                Artworks
            </a>

            <a class="navbar-item" href="/guestbook" hx-get="/guestbook" hx-target="#mc-area">
                Guestbook
            </a>
            <!-- <a class="navbar-item">
                Tours
            </a> -->
            <a class="navbar-item is-hidden-touch" href="/dualMode" hx-get="/dualMode" hx-target="#mc-area">
                Dual mode
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/pages/privacy-policy" hx-get="/pages/privacy-policy"
                        hx-target="#mc-area">
                        Privacy Policy
                    </a>
                    <!--
                    <a class="navbar-item">
                        Glossary
                    </a>
                    <a class="navbar-item">
                        Music
                    </a>
                    <a class="navbar-item">
                        Database
                    </a>
                    <a class="navbar-item">
                        Sources
                    </a>
                    <a class="navbar-item">
                        About Us
                    </a>
                    <a class="navbar-item">
                        Contact Us
                    </a>
                    -->
                </div>
            </div>
        </div>
    </div>
</nav>
{{end}}