{{block "postcard:editor" .}}
<section class="postcard-editor">
    <span class="icon is-clickable close-dialog is-large" hx-on="click: wga.closeDialog();">
        <i class="fas fa-times fa-2x"></i>
    </span>
    <h1 class="title">Write a postcard</h1>
    <div class="columns">
        <div class="column is-half">

            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="{{.Image}}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div>
                        <h3 class="title is-size-3">{{ .Title}}</h3>
                        <p class="subtitle">{{ .Technique }}</p>
                        <div class="line-clamp-3 content">
                            {{safeHTML .Comment}}
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="column">
            <div class="box">
                <form hx-post="/postcards" enctype="multipart/form-data" hx-target="#d" id="postcard_create"
                    hx-disabled-elt="input,button,select">
                    <input type="hidden" name="image_id" value="{{.ImageId}}">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="sender_name" placeholder="My name" required
                                autocomplete="name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" name="sender_email" placeholder="My email address"
                                autocomplete="email" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Recipients</label>
                    </div>

                    <div id="recipients-array" class="field">
                        <div class="field has-addons">

                            <div class="control is-expanded">
                                <input class="input is-fullwidth" type="email" name="recipients[]"
                                    placeholder="Email address" autocomplete="email" required>
                            </div>
                            <div class="control">
                                <button type="button" class="button is-warning" title="Remove recipient"
                                    data-cloner-remove-me>-</button>
                            </div>

                        </div>
                    </div>

                    <div class="field">
                        <button type="button" class="button is-link" data-cloner-target="#recipients-array">Add
                            recipient</button>
                    </div>

                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <trix-editor input="message"></trix-editor>
                            <input type="hidden" id="message" name="message">
                        </div>
                    </div>

                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" name="notify_sender" value="true">
                            Notify me the first time someone views this postcard
                        </label>
                    </div>

                    <label aria-hidden="true" class="hpt" for="name"></label>
                    <input aria-hidden="true" class="hpt" autocomplete="off" type="text" id="name" name="name"
                        placeholder="Your name here">
                    <label aria-hidden="true" class="hpt" for="email"></label>
                    <input aria-hidden="true" class="hpt" autocomplete="off" type="email" id="email" name="email"
                        placeholder="Your e-mail here">


                    <div class="field is-grouped">
                        <p class="control">
                            <button class="button is-primary" type="submit"> Send postcard
                            </button>
                        </p>
                        <p class="control">
                            <button type="button" class="button" hx-on="click: document.getElementById('d').close();">
                                Cancel
                            </button>
                        </p>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
{{end}}

{{block "postcard:success" .}}
<div class="notification is-success">
    <button class="delete" hx-on="click: document.getElementById('d').close();"></button>
    Primar lorem ipsum dolor sit amet, consectetur
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.
    Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
</div>
{{end}}

{{block "postcard:failure" .}}
{{end}}