{{define "title"}}
Add to the Guestbook
{{end}}

{{define "body"}}
{{block "addGuestbookMessage:content" .}}
<main class="container block box my-6 p-0">
    <section class="section">
        <H1 class="has-text-centered title is-5">
            <i>Add to the Guestbook</i>
        </H1>
    </section>
    <section class="block px-6 pb-6">
        <form action="/submit" method="post">
            <div class="field">
                <label class="label">Name</label>
                <input type="text" class="input" placeholder="Enter your name" name="name">
            </div>
            <div class="field">
                <label class="label">Email</label>
                <input type="email" class="input" placeholder="Enter your email" name="email">
            </div>
            <div class="field">
                <label class="label">Location</label>
                <input type="text" class="input" placeholder="Enter your location" name="location">
            </div>
            <div class="field">
                <label class="label">Message</label>
                <textarea class="textarea" placeholder="Enter your message" name="message"></textarea>
            </div>
            <div class="field is-grouped">
                <div class="control">
                <button type="submit" hx-post="/addGuestbookMessage" hx-trigger="click" class="button is-primary">Submit</button>
                </div>
                <div class="control">
                <button type="reset" href="/addGuestbookMessage" hx-get="/addGuestbookMessage?q=clearCache" hx-target="#mc-area" class="button is-primary">Clear</button>
                </div>
            </div>
        </form>
    </section>
</main>
{{end}}
{{end}}