{{define "title"}}
{{ .Name }} - Web Gallery of Art
{{end}}

{{define "body"}}
{{block "artist:content" .}}
<section class="section">
    <article class="container">
        <!-- Main container -->
        <div class="level">
            <!-- Left side -->
            <div class="bottom-level">
                <div>
                    <h1 class="title is-size-1">
                        {{ .Name }}
                    </h1>
                </div>
                <div>
                    ({{.BioExcerpt}})
                </div>
            </div>
        </div>
    </article>
    <div class="container">
        <div class="divider">Biography</div>
    </div>
    <div class="container block">
        <!-- <div class="box"> -->
        <div class="content">
            {{ safeHTML .Bio}}
        </div>
        <!-- </div> -->
    </div>
    <div class="container block">

        <div>
            <div class="divider">Works</div>
        </div>

        <div class="columns is-multiline works-listing" data-viewer>
            {{range .Works}}
            {{ block "artist:work" .}}
            <div class="column is-one-third-tablet is-one-quarter-desktop">
                <section class="card is-art-card">
                    <div class="card-image">
                        <figure class="image is-4by3 hidden-caption">
                            <picture>
                                <source media="(max-width: 768px)" srcset="{{.Thumb}}">
                                <source media="(min-width: 769px)" srcset="{{.Thumb}}">
                                <source media="(min-width: 1024px)" srcset="{{.Thumb}}">
                                <img src="{{.Image}}" alt="{{ .Title}}" loading="lazy">
                            </picture>
                            <figcaption>{{.Title}} - {{ .Technique }}</figcaption>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div>
                            <h3 class="title is-size-3">{{ .Title}}</h3>
                            <p class="subtitle">{{ .Technique }}</p>
                            <div class="line-clamp-3 content">
                                {{safeHTML .Comment}}
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" href="/artists/{{$.Slug}}/{{.Id}}"
                            hx-get="/artists/{{$.Slug}}/{{.Id}}" hx-target="#mc-area">Learn More</a>
                        <a href="#" hx-on="click: document.getElementById('d').showModal();"
                            hx-get="/postcard/send?awid={{.Id}}" hx-target="#d" class="card-footer-item">Send
                            Postcard</a>
                    </footer>
                    <script type="application/ld+json">
                    {{marshalJSON .Jsonld}}
                    </script>
                </section>
            </div>
            {{end}}
            {{ else }}

            {{end}}
        </div>
    </div>
</section>
<script type="application/ld+json">
{{marshalJSON .Jsonld}}
</script>
{{end}}
{{end}}