{{define "title"}}
Artists
{{end}}

{{define "body"}}
<section class="section" id="mc-area">
    {{block "artists:content" .}}
    <div class="container">
        <div class="box table-container">

            <table class="table is-hoverable has-sticky-header">
                <thead>
                    <tr>
                        <th>
                            ARTIST
                        </th>
                        <th>
                            BORN-DIED
                        </th>
                        <th>
                            PERIOD
                        </th>
                        <th>
                            SCHOOL
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {{range .Content}}
                    <tr>
                        <td><a href="{{.Url}}" hx-get="{{.Url}}" hx-target="#mc-area"><b>{{.Name}}</b></a></td>
                        <td>(1833-1895)</td>
                        <td>Realism</td>
                        <td>Danish painter (Copenhagen)</td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="4">meh</td>
                    </tr>
                    {{end}}

                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            ARTIST
                        </th>
                        <th>
                            BORN-DIED
                        </th>
                        <th>
                            PERIOD
                        </th>
                        <th>
                            SCHOOL
                        </th>
                    </tr>
                </tfoot>
            </table>

            <nav class="pagination" role="navigation" aria-label="pagination">
                <a class="pagination-previous">Previous</a>
                <a class="pagination-next">Next page</a>
                <ul class="pagination-list">
                    <li>
                        <a class="pagination-link" aria-label="Goto page 1">1</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link" aria-label="Goto page 45">45</a>
                    </li>
                    <li>
                        <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                    </li>
                    <li>
                        <a class="pagination-link" aria-label="Goto page 47">47</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link" aria-label="Goto page 86">86</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    {{end}}
</section>
{{end}}