{{define "title"}}
{{ .Name }} - Web Gallery of Art
{{end}}

{{define "body"}}
{{block "artist:content" .}}
<section class="section">
    <div class="container">
        <!-- Main container -->
        <div class="level">
            <!-- Left side -->
            <div class="bottom-level">
                <div>
                    <h1 class="is-size-1">
                        {{ .Name }}
                    </h1>
                </div>
                <div>
                    ({{.BioExcerpt}})
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="divider">Biography</div>
    </div>
    <div class="container block">
        <!-- <div class="box"> -->
        <div class="content">
            {{ safeHTML .Bio}}
        </div>
        <!-- </div> -->
    </div>
    <div class="container block">

        <div>
            <div class="divider">Works</div>
        </div>

        <div class="columns is-multiline" data-viewer>
            {{range .Works}}
            <div class="column is-one-third-tablet is-one-quarter-desktop">
                <article class="card is-art-card">
                    <div class="card-image">
                        <figure class="image is-4by3 hidden-caption">
                            <picture>
                                <source media="(max-width: 768px)" srcset="{{.Thumb}}">
                                <source media="(min-width: 769px)" srcset="{{.Thumb}}">
                                <source media="(min-width: 1024px)" srcset="{{.Thumb}}">
                                <img src="{{.Image}}" alt="{{ .Title}}">
                            </picture>
                            <figcaption>{{.Title}} - {{ .Technique }}</figcaption>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="title">{{ .Title}}</h1>
                            <p class="subtitle">{{ .Technique }}</p>
                            <div class="line-clamp-3">
                                {{safeHTML .Comment}}
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                <a href="/artwork/{{$.Slug}}/{{.Id}}">Learn More</a>
                            </span>
                        </p>
                    </footer>
                </article>
            </div>
            {{ else }}

            {{end}}

            <!-- <div class="column">
                <article class="card is-art-card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://www.wga.hu/art/a/aagaard/deerlake.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="title">Deer beside a Lake</h1>
                            <p class="subtitle">1888, Oil on canvas, 53 x 82 cm, Private collection</p>
                            <p>This painting is unusual in 19th century art in combining landscape with still-life.
                                In the acutely observed flowers the
                                artist has demonstrated his skills as an observer of nature, but in the more distant
                                landscape. The two figures,
                                possibly lovers, are framed by the forward garland but are almost incidental to the
                                composition.</p>
                        </div>
                    </div>
                </article>
            </div> -->
        </div>
    </div>
</section>
<script type="application/ld+json">
{{marshalJSON .Jsonld}}
</script>
{{end}}
{{end}}