{{define "title"}}
{{ .AwTitle }} by {{.ArtistName}} - Web Gallery of Art
{{end}}

{{define "body"}}
{{block "artwork:content" .}}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column" data-viewer>
                <figure class="image hidden-caption">
                    <img src="{{.AwImage}}">
                    <figcaption>{{ .AwTitle }} by {{.ArtistName}}</figcaption>
                </figure>
            </div>
            <article class="column">
                <div class="box">
                    <h1 class="title">{{ .AwTitle }}</h1>
                    <h2 class="subtitle">by <a href="{{.ArtistUrl}}" hx-get="{{.ArtistUrl}}"
                            hx-target="#mc-area">{{.ArtistName}}</a>, {{.AwTechnique}}</h2>
                    <div class="content">
                        {{safeHTML .AwComment}}
                    </div>

                    <a href="#" hx-on="click: document.getElementById('d').showModal();"
                        hx-get="/postcard/send?awid={{.AwId}}" hx-target="#d" class="card-footer-item">Send
                        Postcard</a>
                </div>
            </article>
        </div>
    </div>
</section>
<script type="application/ld+json">
{{marshalJSON .Jsonld}}
</script>
{{end}}
{{end}}