{{define "title"}}
Contributors - Web Gallery of Art
{{end}}

{{define "body"}}
{{block "contributors:content" .}}
<section class="section">
    <div class="container">
        <h1 class="title is-size-1">
            Code Contributors
        </h1>
        <div class="columns is-mobile">
            {{range .Contributors}}
            <div class="column is-half-mobile is-one-quarter-desktop">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="{{.AvatarURL}}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-6">@{{.Login}}</p>
                            </div>
                        </div>

                        <div class="content">
                            Contributions: {{.Contributions}} commits
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{.HTMLURL}}" class="card-footer-item" rel="noopener" target="_blank">Github</a>
                    </footer>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</section>
{{end}}
{{end}}