{{define "body"}}
<section class="section container">
    <h1 class="block has-text-centered">
        Dual-Window View
    </h1>
    <div class="block has-text-centered">
        PICTURE
    </div>
    <div class="block columns" style="display: flex;">
        <div class="column">
            Looking for <a href="#">high-resolution image files</a>
        </div>
        <div class="column has-text-centered">
            <a href="#">Donations</a> for maintaining and developing the Gallery are welcome.
        </div>
    </div>
    <div class="block has-text-centered">
        Please send your <a href="#">comments</a>, sign our <a href="#">guestbook</a> and send a postcard.
    </div>
    <div class="block has-text-centered has-text-weight-bold">
        © Web Gallery of Art, created by <a href="#">Emil Krén</a> and <a href="#">Daniel Marx</a>.
    </div>
</section>
{{end}}