{{define "body"}}
<section class="section container">
    <p class="block">
        The use of the Dual-Window View can be particularly effective for 
    </p>
    <ul class="block disc-list ml-4">
        <li>
            viewing simultaneously two images related to each other
            <ul class="circle-list ml-6">
                <li>
                    by the influence one exerted to the other <a href="#">(example)</a>
                </li>
                <li>
                    by being companion-pieces <a href="#">(example)</a>
                </li>
                <li>
                    by representing the same subject <a href="#">(example)</a>
                </li>
                <li>
                    by displaying different views of a three-dimensional sculpture <a href="#">(example)</a>
                </li>
                <li>
                    and so on.
                </li>
            </ul>
        </li>
        <li>
            viewing simultaneously a biography and the pages of an artist <a href="#">(example)</a>
        </li>
        <li>
            printing to the same sheet two pages (e.g. one of the above examples).
        </li>
    </ul>
    <p class="block">
        Please experiment with this new tool using 1024 x 768 or higher screen resolution and let us know your suggestions.
    </p>
</section>
{{end}}