{{define "title"}}
Dual Mode
{{end}}

{{define "body"}}
{{block "dualMode:content" .}}
<div class="customBody">
    <div class="columns is-gapless">
        <div id="lc-area" class="column">
            {{.LeftContent}}
        </div>
        <div id="rc-area" class="column">
            {{.RightContent}}
        </div>
    </div>
    {{block "dualMode:footer" .}}
    <footer class="dual-mode-nav">
        <div class="has-text-centered has-text-white is-size-7">DUAL-WINDOW VIEW</div>
        <div class="columns is-gapless">
            <div class="column is-flex is-justify-content-center">a</div>
            <div class="column is-one-fifth">
                <div>
                    <div class="columns is-gapless mb-0">
                        <div class="column has-text-centered has-background-white">
                            <a hx-target="#lc-area" hx-get="/dualMode?left=artists">
                                << Search
                            </a>
                        </div>
                        <div class="column has-text-centered has-background-white">Hints</div>
                        <div class="column has-text-centered has-background-white">
                            <a hx-target="#rc-area" hx-get="/dualMode?left=search">
                                Search >>
                            </a>
                        </div>
                    </div>
                    <div class="columns is-gapless">
                        <div class="column has-text-centered has-background-white">
                            <a hx-target="#lc-area" hx-get="/dualMode?left=copy">
                                << Copy
                            </a>
                        </div>
                        <div class="column has-text-centered has-background-white">
                            <a hx-target="#ac-area" hx-get="/dualMode?left=copy&right=copy">
                                Reverse
                            </a>
                        </div>
                        <div class="column has-text-centered has-background-white">
                            <a hx-target="#rc-area" hx-get="/dualMode?right=copy">
                                Copy >>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="columns is-gapless mb-0">
                        <div class="column has-text-centered has-background-white">
                            <a hx-on='click: wga.music.openMusicWindow()'>
                                Music selection
                            </a>
                        </div>
                        <div class="column has-text-centered has-background-white">
                            <a href="/" hx-target="#mc-area">
                                Standard view
                            </a>
                        </div>
                    </div>
                    <div class="columns is-gapless">
                        <div class="column has-text-centered has-background-white">
                            <a hx-target="#lc-area" hx-get="/dualMode?left=clear">
                                << CLEAR left
                            </a>
                        </div>
                        <div class="column has-text-centered has-background-white">
                            <a hx-target="#rc-area" hx-get="/dualMode?right=clear">
                                CLEAR right >>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">c</div>
        </div>
    </footer>
    {{end}}
</div>
{{end}}
{{end}}