{{define "title"}}
Dual Mode
{{end}}

{{define "body"}}
{{block "dualMode:content" .}}
<div class="customBody">
    <div class="columns is-gapless">
        <div class="column">
            {{.LeftContent}}
        </div>
        <div class="column">
            {{.RightContent}}
        </div>
    </div>
    <div>
        {{block "dualMode:footer" .}}
        <footer class="footer">
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Links point to the opposite side (to right)
            </button>
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Links point to the opposite side (to left)
            </button>
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Standard view
            </button>
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Music selection
            </button>
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Search (on left)
            </button>
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Search (on right)
            </button>
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Copy (to right)
            </button>
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Copy (to left)
            </button>
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Clear (on left)
            </button>
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Clear (on right)
            </button>
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Hints
            </button>
            <button hx-get="/dualMode" hx-trigger="click" hx-target="#mc-area" class="button is-link is-normal is-light dualMode-latestEntriesBtn">
                Reverse
            </button>
        </footer>
        {{end}}
    </div>

</div>
{{end}}
{{end}}