{{define "title"}}
Guestbook
{{end}}

{{define "body"}}
{{block "guestbook:content" .}}
<main class="container block box my-6 p-0">
    <section class="section">
        <H1 class="has-text-centered title is-5">
            <i>{{.Title}}</i>{{if .SearchExpressionPresent | eq true}}<i>,&nbsp;</i><i>{{.SearchExpression}}</i>{{end}}
        </H1>
        {{if .SearchExpressionPresent | eq false}}
        <div class="content">
            {{safeHTML .FirstContent}}
        </div>
        <div class="columns is-centered">
            <div class="column is-one-third">
                <table class="table is-bordered is-fullwidth">
                    <tbody>
                        {{range .CalendarYears}}
                        <tr>
                            {{if len . | gt 4}}
                                <td class="has-text-centered is-vcentered" colspan={{formatInt (decrBy 5 (len .))}} style="padding: 0.2em 0.3em">Previous entries</td>
                                {{range .}}
                                    <td class="has-text-centered is-vcentered" style="padding: 0.2em 0.3em">
                                        <a href="/guestbook?q={{.}}" hx-get="/guestbook?q={{.}}" hx-target="#mc-area" class="is-size-6">{{.}}</a>
                                    </td>
                                {{end}}
                            {{else}}
                                {{range .}}
                                    <td class="has-text-centered is-vcentered" style="padding: 0.2em 0.3em">
                                        <a href="/guestbook?q={{.}}" hx-get="/guestbook?q={{.}}" hx-target="#mc-area" class="is-size-6">{{.}}</a>
                                    </td>
                                {{end}}
                            {{end}}
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        {{else}}
        <button hx-get="/guestbook"
                hx-trigger="click"
                hx-target="#mc-area"
                class="button is-link is-normal is-light"
                style="border: 1px solid transparent; box-shadow: none;"
            >
                {{.LatestEntries}}
        </button>
        {{end}}

        <div class="content has-text-centered">
            {{safeHTML .SecondContent}}
        </div>
        <div class="tabs">
            <ul></ul>
        </div>

        <table class="table is-fullwidth">
            <tbody>
            {{block "guestbook:search-results" .}}

                {{range .MainContent}}
                <tr>
                    <td style="border-width: 0;">{{.Message}}</td>
                </tr>
                <tr>
                    <td style="border-width: 0;">
                        <div class="level-right">
                            <strong><i>{{.Name}}</i></strong>
                        </div>
                        <div class="level-right">
                            {{.Location}}
                        </div>
                        <div class="level-right">
                            {{.Created}}
                        </div>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td style="border-width: 0;" colspan="1">No record</td>
                </tr>
                {{end}}

            {{end}}
            </tbody>
        </table>
    </section>
</main>
{{end}}
{{end}}