{{define "title"}}
Web Gallery of Art
{{end}}

{{define "body"}}
<section class="section">
    <div class="container block">
        <div class="box content">
            {{safeHTML .Content}}
        </div>
    </div>
    <div class="container">
        <div class="box">
            <div class="content">
                <h3 class="title">Sitebuild demo pages</h3>
                <ul>
                    <li><a href="./a.html">Artist index</a></li>
                    <li><a href="./search.html">Search page</a></li>
                    <li><a href="./carl-frederik-aagaard.html">AAGAARD, Carl Frederik</a></li>
                    <li><a href="./carl-frederik-aagaard-alt2.html">AAGAARD, Carl Frederik, alternative 1</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{end}}