{{define "title"}}
Web Gallery of Art
{{end}}

{{define "body"}}
<section class="section">
    <div class="container block">
        <div class="box content">
            {{safeHTML .Content}}
        </div>
    </div>
    <div class="container">
        <div class="box level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Artists</p>
                    <p class="title">{{ .ArtistCount }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p><i class="fa-solid fa-palette"></i></p>
                    <p class="heading">Artworks</p>
                    <p class="title">123</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}