{{block "music" .}}

{{end}}

{{define "title"}}
Music player
{{end}}

{{define "body"}}
{{block "music:content" .}}
<main class="container block box my-6 p-0">
    <section class="section is-vcentered">
        <h1 class="has-text-centered title is-5">
            <i>Music player</i>
        </h1>
        <p class="has-text-centered block">
            Please select one of the musical pieces from the list below. Please note that this is neither a comprehensive nor a representative musical collection. Its only aim is to provide a selection of matching classical music to listen while viewing and studying the old masters' works. The musical pieces were selected in such a way that visitors could find music matching the stylistic periods from the Renaissance to Romanticism. Whenever possible we call the visitors' attention to musical pieces (mainly operas) treating the same subject as a particular painting or sculpture. For this reason the suggested listenings include music from periods different from that of the creation of the artworks.
        </p>
        <div class="level columns is-mobile block is-mobil">
            <audio class="level-item is-mobil" controls>
                <source src="assets/music/gregorian_chants.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </section>
</main>
{{end}}
{{end}}