{{define "title"}}
Postcard from {{.SenderName}} | Web Gallery of Art
{{end}}

{{define "body"}}
{{block "postcard:content" .}}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{.AwImage}}" alt="{{ .AwTitle}}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div>
                            <h3 class="title is-size-3">{{ .AwTitle}}</h3>
                            <p class="subtitle">{{ .AwTechnique }}</p>
                            <div class="line-clamp-3 content">
                                {{safeHTML .AwComment}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="column">
                <div class="box content">
                    {{safeHTML .Message}}
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
{{end}}