{{define "title"}}
Artwork search - Web Gallery of Art
{{end}}

{{define "body"}}
{{block "search:content" .}}
<section class="section">
    <h1 class="title is-size-1">Artwork search</h1>
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="box">
                <form action="/search" hx-target="#artwork-search-results">
                    <div class="field">
                        <label class="label">Artforms</label>
                        <div class="control">
                            <div class="select">
                                <select name="art_form">
                                    <option value="na">Select artform</option>
                                    {{range $k, $v := .ArtFormOptions}}
                                    <option value="{{$k}}">{{$v}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Art types</label>
                        <div class="control">
                            <div class="select">
                                <select name="art_type">
                                    <option value="na">Select art type</option>
                                    {{range $k, $v := .ArtTypeOptions}}
                                    <option value="{{$k}}">{{$v}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Art shool</label>
                        <div class="control">
                            <div class="select">
                                <select name="art_school">
                                    <option value="na">Select school</option>
                                    {{range $k, $v := .ArtSchoolOptions}}
                                    <option value="{{$k}}">{{$v}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Title</label>
                        <p class="control">
                            <input class="input" type="search" name="q" placeholder="Artwork title">
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <div class="column" id="artwork-search-results">
            {{block "search:search-results" .}}
            <div class="columns is-multiline works-listing" data-viewer>
                {{range .Artworks}}
                <div class="column is-one-third-tablet is-one-quarter-desktop">
                    <section class="card is-art-card">
                        <div class="card-image">
                            <figure class="image is-4by3 hidden-caption">
                                <picture>
                                    <source media="(max-width: 768px)" srcset="{{.Thumb}}">
                                    <source media="(min-width: 769px)" srcset="{{.Thumb}}">
                                    <source media="(min-width: 1024px)" srcset="{{.Thumb}}">
                                    <img src="{{.Image}}" alt="{{ .Title}}" loading="lazy">
                                </picture>
                                <figcaption>{{.Title}} - {{ .Technique }}</figcaption>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div>
                                <h3 class="title is-size-3">{{ .Title}}</h3>
                                <p class="subtitle">{{ .Technique }}</p>
                                <div class="line-clamp-3 content">
                                    {{safeHTML .Comment}}
                                </div>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a class="card-footer-item" href="/artists/{{$.Slug}}/{{.Id}}"
                                hx-get="/artists/{{$.Slug}}/{{.Id}}" hx-target="#mc-area">Learn More</a>
                            <a href="#" hx-on="click: document.getElementById('d').showModal();"
                                hx-get="/postcard/send?awid={{.Id}}" hx-target="#d" class="card-footer-item">Send
                                Postcard</a>
                        </footer>
                        <script type="application/ld+json">
                                {{marshalJSON .Jsonld}}
                                </script>
                    </section>
                </div>
                {{else}}
                <div class="column">
                    <div class="notification is-warning">
                        Sorry, no matching artworks found.
                    </div>
                </div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</section>
{{end}}
{{end}}